body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: rgba(255, 255, 255, 0.458);
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}
.vertical-container {
    display: flex;
    flex-direction: column;  /* Arrange items vertically */
    align-items: center;      /* Center align items horizontally (optional) */
    justify-content: space-around; /* Distribute items evenly (optional) */
    height: 300px;            /* Set height (optional) */
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
.returnbutton {background-color: rgb(143, 143, 143);
    color: black;
    border: none;
    height: 30px;
    width:  80px;
    border-color: black;
    border-style:   solid;
    border-radius: 20px;
    margin-left: 10px;
    cursor:pointer;
}

.livebg {
    background: linear-gradient(-45deg, #ee7752, #79003f, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

  .livebgphy {
    background: linear-gradient(-45deg, #ff76ad, #2424ff, #00ffea, #00ff15);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }